
.copyright {
	opacity: 0.5;
	position: relative;
	top: 50px;
	font-size: 80%;
}

.admonition {
	background: rgba(126, 87, 194, 0.7);
	background: rgba(80,80,80, 0.7);
}
.admonition a {
	color: rgba(255, 145, 0, 1) !important;
}
.admonition a:hover {
	color: rgba(126, 87, 194, 0.7) !important; 
}

.admonition.warning {
	/* background: rgba(255, 145, 0, 1); */
	/* background: rgba(229, 130, 0, 1); */
	background: rgba(126, 87, 194, 0.7); 
}

blockquote {
    box-sizing: border-box;
    width: 100%;
    font-size: 120%;
    position: relative;
    padding: 0 80px;
    color: rgba(0,0,0, 0.60);
}

blockquote:before {
    position: absolute;
    top: 20px;
    left: 0;
    display: block;
    content: "«";
    font-size: 120px;
    color: #ddd;
}

blockquote:after {
    position: absolute;
    bottom: 20px;
    right: 0;
    display: block;
    content: "»";
    font-size: 120px;
    color: #ddd;
}

.wrapper img {
	display: block;
	margin: 0 auto;
}

h4 {
	text-decoration: underline;
}
