[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mkdocs = "*"
mdx-truly-sane-lists = "*"
pymdown-extensions = "*"
mkdocs-material = "*"

[requires]
python_version = "3.7"
